{
  "extends": ["google", "angular"],
  "rules": {
    "quotes": ["error", "single"],
    "max-len": ["error", 80, 4, {
      "ignoreComments": true,
      "ignoreUrls": true
    }],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "require-jsdoc": ["off"],
    "no-var": 0
  }
}